@charset "UTF-8";
/*
 * 参考
 * https://github.com/Andy-set-studio/modern-css-reset/blob/master/src/reset.css
*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.gothic {
  font-family: "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
}

.hiragino {
  font-family: "Hiragino Mincho ProN", "ヒラギノ明朝 ProN", "Hiragino Mincho Pro", serif;
}

/*****************************************
 * 数値から単位を取り除く
 * 参考
 * https://css-tricks.com/snippets/sass/
******************************************/
/*****************************************
 * px→remの計算
 * 参考
 * https://webdou.net/sass-rem/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
/*****************************************
 * vwの計算
 * 参考
 * https://webdou.net/sass-vw/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
/*===================================
 * カラー
===================================*/
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 1.3333333333vw;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

body {
  font-weight: 600;
  color: #555555;
  background-color: #f5f1e6;
  scroll-behavior: smooth;
  font-family: "Noto Sans CJK JP", sans-serif;
}

.main {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 800px) {
  a:hover {
    opacity: 0.8;
  }
}

p {
  line-height: 2;
}

/*===================================
 * フォント
===================================*/
/*===================================
 * PC/SP表示切り替え
===================================*/
.forPC {
  display: none;
}
@media screen and (min-width: 800px) {
  .forPC {
    display: block;
  }
}

.forSP {
  display: block;
}
@media screen and (min-width: 800px) {
  .forSP {
    display: none;
  }
}

/*===================================
 * 余白
===================================*/
.inner {
  max-width: 1150px;
  max-width: 71.875rem;
  padding: 0 15px;
  padding: 0 0.9375rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .inner {
    padding: 0 1.5625rem;
  }
}

/*===================================
 * 共通パーツ
===================================*/
.main-title {
  position: relative;
  line-height: 1;
  font-size: 26px;
  font-size: 1.625rem;
  color: #00a05a;
  letter-spacing: 6.4px;
  letter-spacing: 0.4rem;
  line-height: 1.5;
}
@media screen and (min-width: 800px) {
  .main-title {
    font-size: 1.875rem;
  }
}
.main-title::before {
  content: attr(data-title);
  display: block;
  font-style: oblique;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
  color: rgba(0, 160, 90, .1);
  font-size: 150px;
  font-size: 9.375rem;
  text-align: center;
  line-height: 1;
}
.main-title.about-title::before {
  text-align: left;
}
.main-title.success-title::before {
  font-weight: bold;
  color: #00a05a;
}
@media screen and (min-width: 800px) {
  .main-title.success-title::before {
    font-size: 2.25rem;
    font-weight: bold;
  }
}

.small-text {
  line-height: 2;
}

.listMark-grid {
  font-size: 18px;
  font-size: 1.125rem;
}

.text-center {
  text-align: center;
}

.l-about {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
@media screen and (min-width: 800px) {
  .l-about {
    margin-bottom: 6.25rem;
  }
}

.l-header {
  position: static;
  z-index: 900;
  top: 0;
  right: 0;
  left: 0;
}

.l-service {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
@media screen and (min-width: 800px) {
  .l-service {
    margin-bottom: 4.375rem;
  }
}

.l-brand {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
@media screen and (min-width: 800px) {
  .l-brand {
    margin-bottom: 6.25rem;
  }
}

.l-information {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
@media screen and (min-width: 800px) {
  .l-information {
    margin-bottom: 6.25rem;
  }
}

.l-news {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
@media screen and (min-width: 800px) {
  .l-news {
    margin-bottom: 6.25rem;
  }
}

.l-join {
  background-color: #94d17f;
  padding-top: 100px;
  padding-top: 6.25rem;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
  position: relative;
}
@media screen and (min-width: 800px) {
  .l-join {
    padding-top: 12.5rem;
    padding-bottom: 6.25rem;
  }
}

.l-success {
  position: relative;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
  background-color: #94d17f;
}
@media screen and (min-width: 800px) {
  .l-success {
    padding-bottom: 6.25rem;
  }
}

.c-btn {
  position: relative;
  text-align: center;
}

#service .c-btn,
#about .c-btn {
  text-align: left;
}

@media screen and (min-width: 800px) {
  #success .c-btn .c-btn__link:not(:first-child) {
    margin-left: 2.5rem;
  }
}

.c-btn__link {
  padding: 20px 60px;
  padding: 1.25rem 3.75rem;
  position: relative;
  display: inline-block;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #a4a4a4;
  background-color: #fff;
  border-radius: 1.25rem;
}
.c-btn__link::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 28px;
  right: 1.75rem;
  width: 5px;
  width: 0.3125rem;
  height: 5px;
  height: 0.3125rem;
  border-top: 2px solid #fff;
  border-top: 0.125rem solid #fff;
  border-right: 2px solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
.c-btn__link::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  right: 1.25rem;
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  background-color: #00a05a;
  border-radius: 3.125rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-header {
  height: 40px;
  height: 2.5rem;
  background-color: #fff;
}
@media screen and (min-width: 800px) {
  .p-header {
    height: 4.375rem;
  }
}

.p-header__inner {
  padding-left: 15px;
  padding-left: 0.9375rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 800px) {
  .p-header__inner {
    padding: 0 3.125rem;
  }
}

.p-header__logo {
  max-width: 74px;
  max-width: 4.625rem;
  width: 100%;
  height: inherit;
}
@media screen and (min-width: 800px) {
  .p-header__logo {
    max-width: 6.25rem;
  }
}

.p-header__logo a {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.p-header__nav {
  display: none;
  height: inherit;
}
@media screen and (min-width: 800px) {
  .p-header__nav {
    display: block;
  }
}

.p-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.p-header__nav-item {
  height: inherit;
}

.p-header__nav-item.p-header__nav-item--contact {
  margin-left: 15px;
  margin-left: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-header__nav-item a {
  padding: 0 15px;
  padding: 0 0.9375rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1;
  color: #333;
  text-transform: uppercase;
}

.p-header__nav-item.p-header__nav-item--contact a {
  padding: 10px 20px;
  padding: 0.625rem 1.25rem;
  position: relative;
  height: auto;
  height: initial;
  color: #fff;
  background-color: #DE8430;
}

.p-header__nav-item.p-header__nav-item--contact a::after {
  content: "";
  margin-left: 10px;
  margin-left: 0.625rem;
  width: 11px;
  width: 0.6875rem;
  height: 12px;
  height: 0.75rem;
  display: inline-block;
  background-image: url(./../images/common/contact-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.p-header__hamburger {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  position: relative;
  z-index: 999;
  width: 40px;
  width: 2.5rem;
  height: inherit;
  background-color: #DE8430;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 800px) {
  .p-header__hamburger {
    display: none;
  }
}

.p-header__hamburger.is-open {
  background-color: transparent;
}

.p-header__hamburger span {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 15px;
  width: 0.9375rem;
  height: 1px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.p-header__hamburger span:nth-of-type(1) {
  top: -4px;
  top: -0.25rem;
}

.p-header__hamburger span:nth-of-type(2) {
  top: 0;
}

.p-header__hamburger span:nth-of-type(3) {
  top: 4px;
  top: 0.25rem;
}

.p-header__hamburger.is-open span:nth-of-type(1) {
  top: 0;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.p-header__hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.p-header__hamburger.is-open span:nth-of-type(3) {
  top: -2px;
  top: -0.125rem;
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.p-header__drawer {
  padding: 228px 0;
  padding: 14.25rem 0;
  display: none;
  position: absolute;
  z-index: 900;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(98, 58, 20, .95);
  overflow-y: scroll;
  scrollbar-width: none;
}

.p-header__drawer::-webkit-scrollbar {
  display: none;
}

.p-header__drawer-item a {
  padding: 15px 0;
  padding: 0.9375rem 0;
  display: block;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.p-header__drawer-item.p-header__drawer-item--contact a::after {
  content: "";
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
  margin-left: 20px;
  margin-left: 1.25rem;
  width: 15px;
  width: 0.9375rem;
  height: 15px;
  height: 0.9375rem;
  display: inline-block;
  background-image: url(./../images/common/contact-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (min-width: 800px) {
  .p-about__title-wrap {
    max-width: 43.75rem;
    margin-bottom: 3.125rem;
  }
}

@media screen and (min-width: 800px) {
  .p-about__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-about__text {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 800px) {
  .p-about__text {
    max-width: 43.75rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 800px) {
  .p-about__img {
    margin-left: 2.1875rem;
  }
}

.p-service-content {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
@media screen and (min-width: 800px) {
  .p-service-content {
    margin-bottom: 6.25rem;
  }
}

.p-service__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-service__img img {
  width: 100%;
  aspect-ratio: 640/360;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

@media screen and (min-width: 800px) {
  .top .p-service__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.top .p-service__title {
  text-align: right;
}
@media screen and (min-width: 800px) {
  .top .p-service__wrap-box {
    margin-left: 4.375rem;
  }
}
@media screen and (min-width: 800px) {
  .top .p-service__img {
    margin-top: 0;
    margin-left: calc(50% - 50vw);
    width: 100%;
  }
}

.p-service__title {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 800px) {
  .p-service__title {
    margin-bottom: 3.125rem;
  }
}

@media screen and (min-width: 800px) {
  .p-service__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-service__wrap-box {
  margin: 0;
  margin: initial;
  width: 100%;
}

.p-service__text {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 800px) {
  .p-service__text {
    margin-bottom: 3.125rem;
  }
}

.p-service__img img {
  border-radius: 1.875rem;
}

@media screen and (min-width: 800px) {
  .middle .p-service__wrap-box {
    margin-right: 4.375rem;
  }
}
@media screen and (min-width: 800px) {
  .middle .p-service__img {
    margin-top: 0;
    margin-right: calc(50% - 50vw);
    width: 100%;
  }
}

.bottom .p-service-content {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
.bottom .p-service__title-wrap {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 800px) {
  .bottom .p-service__title-wrap {
    margin-bottom: 3.75rem;
  }
}
.bottom .p-service__title {
  text-align: center;
  letter-spacing: 0.3em;
}
.bottom .p-service__wrap {
  max-width: 700px;
  max-width: 43.75rem;
  margin: 0 auto;
}

.p-service-cross {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 1px;
  background: #333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  vertical-align: middle;
  margin: 0 30px;
  margin: 0 1.875rem;
}
.p-service-cross::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (min-width: 800px) {
  .p-service__title-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  .p-service__title-img__img {
    width: 23.75rem;
  }
}

.p-service-content__bottom-bg {
  position: relative;
}
.p-service-content__bottom-bg::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../../assets/img/service/service_bg01.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  top: 0;
  left: 0;
  margin-left: calc(50% - 50vw);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.p-service-content__bottom-bg::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../../assets/img/service/service_bg02.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  top: 0;
  right: 0;
  margin-right: calc(50% - 50vw);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.p-brand__title-wrap {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 800px) {
  .p-brand__title-wrap {
    margin-bottom: 3.125rem;
  }
}

.p-brand__title {
  text-align: center;
}

.p-brand__wrap {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 800px) {
  .p-brand__wrap {
    margin-bottom: 3.125rem;
  }
}

.p-brand__text {
  max-width: 700px;
  max-width: 43.75rem;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 800px) {
  .p-brand__text {
    margin-bottom: 3.125rem;
  }
}

.p-brand__item-content {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.p-brand__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.p-brand__items:not(:last-child) {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}

.c-btn {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.p-information__title-wrap {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 800px) {
  .p-information__title-wrap {
    margin-bottom: 3.125rem;
  }
}

.p-information__title {
  text-align: center;
}

.p-information__wrap {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
@media screen and (min-width: 800px) {
  .p-information__wrap {
    margin-bottom: 4.375rem;
  }
}

.p-information__list {
  display: grid;
  gap: 30px;
  gap: 1.875rem;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 800px) {
  .p-information__list {
    gap: 4.375rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.p-information-list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: transparent;
}

.p-information-list__item-img {
  width: 100%;
}

.p-information-list__item-img img {
  width: 100%;
  aspect-ratio: 360/250;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.875rem;
}

.p-information-list__item-meta {
  margin-top: auto;
  padding: 15px 25px 15px;
  padding: 0.9375rem 1.5625rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 800px) {
  .p-information-list__item-meta {
    padding: 1.25rem 1.875rem 1.25rem;
  }
}

.p-information-list__item-category {
  padding: 5px 8px;
  padding: 0.3125rem 0.5rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  color: #fff;
  background-color: #00a05a;
}
@media screen and (min-width: 800px) {
  .p-information-list__item-category {
    font-size: 1rem;
  }
}

.p-information-list__item-date {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
}
@media screen and (min-width: 800px) {
  .p-information-list__item-date {
    font-size: 1rem;
  }
}

.p-information-list__item-content {
  padding: 0 25px;
  padding: 0 1.5625rem;
}
@media screen and (min-width: 800px) {
  .p-information-list__item-content {
    padding: 0 1.875rem;
  }
}

.p-information-list__item-title {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (min-width: 800px) {
  .p-information-list__item-title {
    font-size: 1rem;
  }
}

.p-information-list__item-text {
  margin-top: 10px;
  margin-top: 0.625rem;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
}
@media screen and (min-width: 800px) {
  .p-information-list__item-text {
    margin-top: 0.9375rem;
    font-size: 0.875rem;
  }
}

.p-news__title-wrap {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 800px) {
  .p-news__title-wrap {
    margin-bottom: 3.125rem;
  }
}

.p-news__title {
  text-align: center;
}

.p-news__wrap {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
@media screen and (min-width: 800px) {
  .p-news__wrap {
    margin-bottom: 4.375rem;
  }
}

.p-news-list__item {
  border-bottom: 1px dotted #555555;
}

.p-news-list__item a {
  padding: 20px 0;
  padding: 1.25rem 0;
  display: block;
  position: relative;
}
.p-news-list__item a::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 28px;
  right: 1.75rem;
  width: 5px;
  width: 0.3125rem;
  height: 5px;
  height: 0.3125rem;
  border-top: 2px solid #fff;
  border-top: 0.125rem solid #fff;
  border-right: 2px solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
.p-news-list__item a::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  right: 1.25rem;
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  background-color: #00a05a;
  border-radius: 3.125rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-news-list__item-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}

.p-news-list__item-date {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
}

.p-news-list__item-title {
  margin-top: 12px;
  margin-top: 0.75rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
@media screen and (min-width: 800px) {
  .p-news-list__item-title {
    margin-top: 0;
  }
}

.p-join-content__bg {
  position: relative;
}
.p-join-content__bg::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../../assets/img/join/join_bg01.png");
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.3;
  background-position: left;
  top: -25%;
  -webkit-transform: translate(-10%, -10%);
          transform: translate(-10%, -10%);
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}
.p-join-content__bg::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../../assets/img/join/join_bg02.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  opacity: 0.3;
  top: -25%;
  -webkit-transform: translate(10%, -10%);
          transform: translate(10%, -10%);
  right: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.p-join-content__bg-bottom {
  position: relative;
  width: 100%;
  height: 100%;
}
.p-join-content__bg-bottom::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../../assets/img/join/join_bg03.png");
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.3;
  background-position: left;
  top: 50%;
  -webkit-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}
.p-join-content__bg-bottom::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../../assets/img/join/join_bg04.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  opacity: 0.3;
  top: 50%;
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
  right: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.p-join__title-wrap {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 800px) {
  .p-join__title-wrap {
    margin-bottom: 3.125rem;
  }
}

.p-join__title {
  color: #fff;
  text-align: center;
}

.p-join__title span {
  position: relative;
}
.p-join__title span::after, .p-join__title span::before {
  content: "";
  background-image: url("../../../assets/img/icon/icon_join_title.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
  width: 100%;
  height: 100%;
}
.p-join__title span::before {
  background-position: right;
  -webkit-transform: translate(25%, -50%);
          transform: translate(25%, -50%);
}

.p-join__wrap {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 800px) {
  .p-join__wrap {
    margin-bottom: 1.875rem;
  }
}

@media screen and (min-width: 800px) {
  .p-join-list__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.p-join-list__item {
  background-color: #00a05a;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  border-radius: 1.875rem;
  border-bottom: 8px solid #fff;
}
@media screen and (min-width: 800px) {
  .p-join-list__item {
    padding: 1.25rem 2.5rem 1.875rem 2.5rem;
    width: 15.625rem;
    height: 15.625rem;
    margin-bottom: 1.875rem;
  }
}

.p-join-list__item-img {
  overflow: hidden;
  width: 100%;
}
.p-join-list__item-img img {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 150/100;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.p-join-list__item-text {
  color: #fff;
}

.p-success__title-wrap {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 800px) {
  .p-success__title-wrap {
    margin-bottom: 3.125rem;
  }
}

.p-success__title {
  text-align: center;
}

.p-success__wrap {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
  height: 100%;
}
@media screen and (min-width: 800px) {
  .p-success__wrap {
    margin-bottom: 3.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 800px) {
  .p-success__content {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-success__item-title {
  background-color: #f5f1e6;
  color: #00a05a;
  text-align: center;
  border-radius: 3.125rem;
  margin: 0 auto;
  margin-bottom: -25px;
  margin-bottom: -1.5625rem;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 800px) {
  .p-success__item-title {
    max-width: 28.125rem;
    padding: 1.25rem 2.5rem;
  }
}

.p-success__item-img {
  width: 100%;
}
.p-success__item-img img {
  width: 100%;
  aspect-ratio: 530/350;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.p-success__item__text {
  background-color: #f5f1e6;
  padding: 20px;
  padding: 1.25rem;
  border-radius: 1.25rem;
  margin: 0 auto;
  margin-top: -50px;
  margin-top: -3.125rem;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media screen and (min-width: 800px) {
  .p-success__item__text {
    max-width: 28.125rem;
  }
}
.p-footer {
  padding: 45px 0;
  padding: 2.8125rem 0;
  background-color: #f5f6f7;
}
@media screen and (min-width: 800px) {
  .p-footer {
    padding: 1.875rem 0 1.25rem;
  }
}

.p-footer__inner {
  margin: auto;
  padding: 0 15px;
  padding: 0 0.9375rem;
  max-width: 630px;
  max-width: 39.375rem;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .p-footer__inner {
    padding: 0 1.5625rem;
    max-width: 78.125rem;
  }
}

@media screen and (min-width: 800px) {
  .p-footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-footer__logo {
  margin: auto;
  max-width: 200px;
  max-width: 12.5rem;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .p-footer__logo {
    margin: 0;
    margin: initial;
    max-width: 13.75rem;
  }
}

.p-footer__logo a {
  padding: 10px 0;
  padding: 0.625rem 0;
  display: block;
}
@media screen and (min-width: 800px) {
  .p-footer__logo a {
    padding: 0.9375rem 0;
  }
}

.p-footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 800px) {
  .p-footer__nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-footer__nav-item a {
  padding: 12px 0;
  padding: 0.75rem 0;
  position: relative;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .p-footer__nav-item a {
    padding: 0.9375rem;
  }
}

.p-footer__copyright {
  margin-top: 10px;
  margin-top: 0.625rem;
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: #94d17f;
}
@media screen and (min-width: 800px) {
  .p-footer__copyright {
    margin-top: 3.125rem;
  }
}

.p-footer__copyright span {
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */
