@use "../foundation/" as *;

.p-footer {
  padding-top: rem(45);
  overflow: hidden;
  @include mq(md) {
    padding-top: rem(30);
  }
}

.p-footer__inner {
}

.p-footer__bg {
  position: relative;
  @include mq(md) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../../../assets/img/footer/footer_bg01.png");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: left bottom;
      bottom: 0;
      transform: translate(-10%, 10%);
      left: 0;
      width: 100vw;
      height: 100%;
      z-index: -1;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../../../assets/img/footer/footer_bg02.png");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: right bottom;
      bottom: 0;
      transform: translate(10%, 10%);
      right: 0;
      width: 100vw;
      height: 100%;
      z-index: -1;
    }
  }
}

.p-footer__wrap {
}

.p-footer__logo-box {
  margin-bottom: rem(20);
  @include mq(md) {
    display: flex;
    margin-bottom: rem(30);
  }
}

.p-footer__logo {
  margin: auto;
  max-width: rem(200);
  width: 100%;
  margin-bottom: rem(20);
  @include mq(md) {
    margin: initial;
    max-width: rem(300);
  }
}

.p-footer__logo a {
  display: block;
  @include mq(md) {
  }
}

.p-footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-footer-title {
  @include mq(md) {
    margin-left: rem(30);
  }
}

.p-footer-title__category {
  background-color: #555555;
  border-radius: rem(5);
  padding: rem(5) rem(10);
  color: $color-white;
  display: inline-block;
  font-size: rem(13);
  margin-bottom: rem(10);
  @include mq(md) {
    margin-bottom: rem(10);
  }
}

.p-footer-title__text {
  font-size: rem(14);
}

.p-footer__nav {
  margin-bottom: rem(30);
  @include mq(md) {
    margin-bottom: rem(50);
  }
}

.p-footer__nav-items {
  @include mq(sm) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.p-footer__nav-item {
  border-bottom: 1px dotted #555555;

  @include mq(sm) {
    border-right: 1px dotted #555555;
    &:nth-of-type(2n) {
      border-right: none;
    }
    &:nth-of-type(7),
    &:nth-of-type(8) {
      border-bottom: none;
    }
    width: calc(100% / 2 - rem(20));
  }

  @include mq(md) {
    width: calc(100% / 4);
    &:nth-of-type(n + 5) {
      border-bottom: none;
    }
    &:nth-of-type(4),
    &:nth-of-type(8) {
      border-right: none;
    }
    &:nth-of-type(2),
    &:nth-of-type(6) {
      border-right: 1px dotted #555555;
    }
    &:nth-of-type(n + 5) {
      border-bottom: none;
    }
  }
}

.p-footer__nav-item .icon {
  position: relative;
  &::before {
    content: "";
    background-image: url("../../../assets/img/icon/icon_join_title.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    width: rem(30);
    height: rem(30);
    @include mq(md) {
      left: 20%;
      transform: translate(0, -50%);
    }
  }
}

.p-footer__nav-item a {
  padding: rem(30) 0;
  position: relative;
  display: block;
  font-size: rem(16);
  line-height: 1;
  text-align: center;
  @include mq(md) {
    padding: rem(40) rem(70);
  }
}

.p-footer-info {
  text-align: end;
  @include mq(md) {
  }
}

.p-footer-info__text {
}

.p-footer__inner {
  margin: auto;
  padding: 0 rem(15);
  max-width: rem(630);
  width: 100%;
  @include mq(md) {
    padding: 0 rem(25);
    max-width: rem(1250);
  }
}

.p-footer__wrap {
}

.p-footer__copyright {
  margin-top: rem(10);
  display: block;
  font-size: rem(12);
  line-height: 1;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: $color-bg-green;
  color: $color-white;
  padding: rem(20) 0;
  @include mq(md) {
    padding: rem(20) 0;
    margin-top: rem(20);
  }
}

.p-footer__copyright span {
  text-transform: uppercase;
}
